langgraph==0.2.76
langgraph-prebuilt==0.6.4
langgraph-checkpoint==2.1.1
langgraph-checkpoint-sqlite==2.0.11
langgraph-api-inmem==0.0.4
langchain-core==0.3.75
langchain-community==0.3.29
langchain-openai==0.3.32
langchain-tavily==0.2.11
langsmith==0.4.18
openai==1.102.0
tiktoken==0.11.0
python-dotenv==1.1.1
tavily-python==0.7.11
starlette>=0.37.0

